<h1>Listing posts</h1>

<%= magic_grid @posts, [:title, :body, :published, :user, 'Actions'] do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.body.truncate(30) %></td>
    <td><%= post.published %></td>
    <td><%= link_to post.user, post.user %></td>
    <td>
      <%= link_to 'Show', post %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>

<%= link_to 'New Post', new_post_path %>
