<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "magic_grid" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p>
  <%= link_to "Posts", posts_path %>
  <%= link_to "Users", users_path %>
  </p>
  <hr />

<%= yield %>

</body>
</html>
