<h1>Listing users</h1>

<%= magic_grid @users, [:name, :email, :posts, 'Actions'] do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= mail_to user.email %></td>
    <td><%= link_to user.posts.count, "/posts/by-user/#{user.id}" %></td>
    <td>
      <%= link_to 'Show', user %>
      <%= link_to 'Edit', edit_user_path(user) %>
      <%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>

<br />

<%= link_to 'New User', new_user_path %>
